{% extends 'base.html' %}

{% block title %}Инструкции по сбросу пароля отправлены | Интерактивная карта кладбища{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Инструкции отправлены</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <p>Мы отправили вам по электронной почте инструкции по установке нового пароля.</p>
                    <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели правильный email, и проверьте папку со спамом.</p>
                </div>
                
                <div class="text-center mt-4">
                    <a href="{% url 'login' %}" class="btn btn-primary">Вернуться на страницу входа</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
