{% autoescape off %}
Здравствуйте,

Вы получили это письмо, потому что вы (или кто-то другой) запросили сброс пароля для вашей учетной записи на сайте "Интерактивная карта кладбища".

Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ваше имя пользователя: {{ user.username }}

Если вы не запрашивали сброс пароля, проигнорируйте это письмо, и ваш пароль останется неизменным.

С уважением,
Команда сайта "Интерактивная карта кладбища"
{% endautoescape %}
